* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

#master {
    width: 100%;
    height: 1px;
    margin: 0 auto;
}

#master_1 {
    width: 1539px;
    height: 540px;
    margin: 0 auto;
}

#master_1 img {
    width: 100%;
    height: 100%;
}

.small {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: blue;
    border-radius: 50%;
    margin-right: 30px;
    float: right;
    position: relative;
    margin-top: -350px;
    z-index: 999;
}

.small .i {
    border-radius: 50%;
    z-index: 999;
}

#contend {
    width: 100%;
    height: 719px;
}

.menu {
    width: 1210px;
    height: 107px;
    margin: 0 auto;
}

.wpb {
    width: 400px;
    height: 107px;
    float: left;
    background: #D8D8D8;
}

.wpb:nth-child(1) {
    margin-right: 10px;
}

div.cur {
    background: #E60020;
    color: white;
}

.wpb h3 a {
    font-size: 30px;
    color: black;
    display: block;
    line-height: 107px;
    text-align: center;
}

.vc_rop {
    width: 1200px;
    height: 496.6px;
    margin: 0 auto;
}

.vc_rop .rop {
    width: 1170px;
    height: 60px;
}

.vc_rop .rop p {
    width: 1170px;
    height: 25.28px;
    color: #676B6D;
    font-size: 15px;
    margin-bottom: 10px;
}

.vc_rop .inner {
    width: 1210px;
    height: 615px;
}

.inner .wf_cell {
    width: 383px;
    height: 287px;
    float: left;
    cursor: pointer;
    margin: 5px;
    /* border: 1px solid blue; */
}

.inner .wf_cell img {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    margin-top: 10px;
}

.inner .wf_cell i {
    width: 383px;
    height: 287px;
    display: block;
    display: none;
    transition: 0.35s;
    position: absolute;
    margin-top: -289px;
    background-color: rgba(46, 221, 237, 0.3);
    background: rgba(46, 221, 237, 0.3);
    background: -webkit-linear-gradient( 30deg, rgba(46, 221, 237, 0.3) 0%, rgba(0, 132, 187, 0.3) 100%);
    background: linear-gradient( 30deg, rgba(46, 221, 237, 0.3) 0%, rgba(0, 132, 187, 0.3) 100%);
}

.inner .wf_cell i img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
}

#slideWrap {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    display: none;
    position: fixed;
    top: -10px;
    z-index: 99999;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}