* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#master {
    width: 100%;
    height: 1px;
    margin: 0 auto;
}

#master_1 {
    width: 1539px;
    height: 540px;
    margin: 0 auto;
}

#master_1 img {
    width: 100%;
    height: 100%;
}

.small {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: blue;
    border-radius: 50%;
    float: right;
    margin-right: 30px;
    position: relative;
    margin-top: -350px;
    z-index: 999;
}

.small .i {
    border-radius: 50%;
    z-index: 999;
}

#contend {
    width: 100%;
    height: 719px;
}

.menu {
    width: 1210px;
    height: 107px;
    margin: 0 auto;
}

.wpb {
    width: 400px;
    height: 107px;
    float: left;
    background: #D8D8D8;
}

.wpb:nth-child(1) {
    margin-right: 10px;
}

div.cur {
    background: #E60020;
    color: white;
}

.wpb h3 a {
    font-size: 30px;
    color: black;
    display: block;
    line-height: 107px;
    text-align: center;
}

.vc_rop {
    width: 1200px;
    height: 496.6px;
    margin: 0 auto;
}

.vc_rop p {
    width: 870px;
    height: 75px;
}

.vc_rop .p1 {
    height: 25px;
}

.vc_rop .p1 a {
    color: #0ca2e0;
}

.vc_rop .p1 a:hover {
    text-decoration: underline;
}

.vc_column {
    width: 300px;
    height: 496.33px;
    padding-left: 0;
    padding-right: 0;
    float: right;
    margin-top: -105px;
}

.vc_column .vc_column_inner {
    width: 300px;
    height: 110px;
    padding-top: 20px !important;
    padding-right: 20px px !important;
    padding-bottom: 20px !important;
    background-color: rgba(230, 0, 32, 0.42) !important;
    *background-color: rgb(230, 0, 32) !important;
}

.vc_column_text p {
    width: 260px;
    height: 75px;
    margin-left: 30px;
    font-size: 18px;
    color: #676B6D;
}

.vc_column_code {
    width: 300px;
    height: 326.82px;
    margin-top: 70px;
}

.vc_column_code p {
    width: 300px;
    height: 25px;
}

.vc_column_code p:nth-child(2) {
    width: 300px;
    height: 256px;
    border: 1px;
}