* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei", STXihei, "Source Sans Pro", sans-serif !important;
  list-style: none;
}
.bigImg {
  width: 100%;
  height: 500px;
  background-image: url(../images/2-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 500px;
}
.content {
  width: 100%;
  margin-top: 20px;
}
.content .content-v {
  width: 1250px;
  margin: 0 auto;
  overflow: hidden;
}
.content .content-v .tabs {
  width: 1200px;
  height: 107px;
}
.content .content-v .tabs .item {
  float: left;
  width: 300px;
  height: 107px;
  background-color: #d8d8d8;
  color: #262b2e;
}
.content .content-v .tabs .item p {
  width: 100%;
  line-height: 70px;
  font-size: 26px;
  text-align: center;
  font-weight: 800;
}
.content .content-v .tabs .item p span {
  cursor: pointer;
}
.content .content-v .tabs .item:nth-child(1) {
  margin-right: 10px;
  margin-left: -10px;
}
.content .content-v .tabs .on {
  background-color: #e60020;
  color: white;
}
.content .content-v .synopsis {
  margin-top: 40px;
  padding-right: 60px;
}
.content .content-v .synopsis .synopsis-left,
.content .content-v .synopsis .synopsis-right {
  width: 46%;
  float: left;
  margin-left: 40px;
}
.content .content-v .synopsis .synopsis-left li,
.content .content-v .synopsis .synopsis-right li {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #eaebeb;
  margin-top: 5px;
}
.content .content-v .synopsis .synopsis-left li div.icon,
.content .content-v .synopsis .synopsis-right li div.icon {
  float: left;
  width: 15px;
  position: relative;
  margin-top: 8px;
  margin-left: 5px;
  height: 15px;
  background-color: #22d1e6;
  border-radius: 50%;
}
.content .content-v .synopsis .synopsis-left li div.icon img,
.content .content-v .synopsis .synopsis-right li div.icon img {
  position: absolute;
  left: 3px;
  top: 2.5px;
}
.content .content-v .synopsis .synopsis-left li span,
.content .content-v .synopsis .synopsis-right li span {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
  color: #95989a;
}
.imgBig {
  width: 100%;
  height: 240px;
  margin-top: 40px;
}
#imgs img {
  width: 320px;
  height: 240px;
}
