body {
  font-family: "微软雅黑";
}
.header {
  width: 100%;
  height: auto;
}
.header .header-t {
  width: 100%;
  height: 36px;
  background-color: #5d5d58;
}
.header .header-t .header-tb {
  width: 1200px;
  margin: 0 auto;
}
.header .header-t .header-tb span {
  color: #fff9f9;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  margin-right: 15px;
}
.header .header-t .header-tb span:hover {
  color: rgba(200, 200, 200, 0.7);
}
.header .header-m {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.header .header-m .logo1 {
  float: left;
  margin-top: 22px;
  width: 232px;
}
.header .header-m .header-mr {
  width: 125px;
  float: right;
  height: 28px;
  line-height: 28px;
  margin-top: 40px;
}
.header .header-m .header-mr span {
  color: #393940;
  font-size: 14px;
}
.header .header-m .header-mr .logo2 {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  vertical-align: middle;
}
.header .header-b {
  width: 100%;
  height: 56px;
  background-color: #f7f7f7;
}
.header .header-b .nav {
  width: 1200px;
  height: 56px;
  margin: 0 auto;
}
.header .header-b .nav ul li {
  float: left;
  position: relative;
}
.header .header-b .nav ul li > a {
  font-size: 16px;
  display: block;
  height: 56px;
  line-height: 56px;
  padding: 0px 34px;
  border-left: 1px solid rgba(200, 200, 200, 0.3);
  color: #262b2e;
}
.header .header-b .nav ul li > a.first {
  background-image: linear-gradient(to right, #6bc4e9, #0fa9e1, #5edfec);
  -webkit-background-clip: text;
  color: transparent;
}
.header .header-b .nav ul li > a.last {
  border-right: 1px solid rgba(200, 200, 200, 0.5);
}
.header .header-b .nav ul li > a:hover {
  background-image: linear-gradient(to right, #6bc4e9, #0fa9e1, #5edfec);
  -webkit-background-clip: text;
  color: transparent;
}
.header .header-b .nav ul li > a i {
  font-size: 5px;
}
.header .header-b .nav ul li .dropbox {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 225px;
  padding: 10px;
  display: none;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.header .header-b .nav ul li .dropbox p:hover {
  background-color: rgba(193, 227, 242, 0.5);
}
.header .header-b .nav ul li .dropbox p > a {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  text-align: left;
  color: #262b2e;
  font-weight: 600;
  padding-left: 10px;
}
.header .header-b .nav ul li .dropbox p > a:hover {
  background-image: linear-gradient(to right, #6bc4e9, #0fa9e1, #5edfec);
  -webkit-background-clip: text;
  color: transparent;
}
.header .header-b .nav a.seach {
  float: right;
  color: #262b2e;
  margin-top: 18px;
  margin-right: 20px;
}
.header .header-b .nav a.seach i {
  font-size: 16px;
}
.header .header-b .nav a.seach:hover {
  text-decoration: none;
  color: #969696;
}
.header .ceiling {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  display: none;
  z-index: 99;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
}
.header .ceiling .nav {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}
.header .ceiling .nav img {
  float: left;
  margin-right: 70px;
  width: 232px;
}
.header .ceiling .nav ul li {
  float: left;
  position: relative;
}
.header .ceiling .nav ul li > a {
  font-size: 16px;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0px 34px;
  border-left: 1px solid rgba(200, 200, 200, 0.3);
  color: #262b2e;
}
.header .ceiling .nav ul li > a.first {
  background-image: linear-gradient(to right, #6bc4e9, #0fa9e1, #5edfec);
  -webkit-background-clip: text;
  color: transparent;
}
.header .ceiling .nav ul li > a.last {
  border-right: 1px solid rgba(200, 200, 200, 0.5);
}
.header .ceiling .nav ul li > a:hover {
  background-image: linear-gradient(to right, #6bc4e9, #0fa9e1, #5edfec);
  -webkit-background-clip: text;
  color: transparent;
}
.header .ceiling .nav ul li > a i {
  font-size: 5px;
}
.header .ceiling .nav ul li .dropbox {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 225px;
  padding: 10px;
  display: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 99;
}
.header .ceiling .nav ul li .dropbox p:hover {
  background-color: rgba(193, 227, 242, 0.5);
}
.header .ceiling .nav ul li .dropbox p > a {
  display: block;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  text-align: left;
  color: #262b2e;
  font-weight: 600;
}
.header .ceiling .nav ul li .dropbox p > a:hover {
  background-image: linear-gradient(to right, #6bc4e9, #0fa9e1, #5edfec);
  -webkit-background-clip: text;
  color: transparent;
}
.header .ceiling .nav a.seach {
  float: right;
  color: #262b2e;
  margin-top: 18px;
  margin-right: 20px;
}
.header .ceiling .nav a.seach i {
  font-size: 16px;
}
.header .ceiling .nav a.seach:hover {
  text-decoration: none;
  color: #969696;
}
